html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

html,
body,
h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
  padding: 0;
}

body {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 14px;
  /* 9 */
  font-size: 1.4rem;
  /* 9 */
  line-height: 1.25;
  font-family: 'Lato', sans-serif;
  color: #626262;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

h1 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 20px;
  /* 9 */
  font-size: 2rem;
  /* 9 */
  line-height: 1.25;
}

h2 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16.25px;
  /* 9 */
  font-size: 1.625rem;
  /* 9 */
  line-height: 1.15384615;
}

h3 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 13.75px;
  /* 9 */
  font-size: 1.375rem;
  /* 9 */
  line-height: 1.13636364;
}

h4 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 11.25px;
  /* 9 */
  font-size: 1.125rem;
  /* 9 */
  line-height: 1.11111111;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 30px;
  /* 9 */
  margin: 3rem;
  /* 9 */
}

blockquote {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 12.5px;
  /* 9 */
  font-size: 1.25rem;
  /* 9 */
  line-height: 1.25;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fixed {
  position: fixed;
}

img {
  max-width: 100%;
}

.circle {
  height: 90px;
  width: 90px;
  margin: auto;
  border-radius: 100%;
}

.circle.small {
  height: 50px;
  width: 50px;
}

.inner-circle {
  height: 95%;
  width: 95%;
  margin: auto;
  border-radius: 100%;
}

.full-width,
.content-main-img img {
  width: 100%;
  display: block;
}

.inline-list li {
  display: inline-block;
}

.vertical {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-group {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 1.5rem;
  /* 9 */
}

.form-control {
  display: block;
  width: 100%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 15px;
  /* 9 */
  padding: 1.5rem;
  /* 9 */
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 0;
  border: 2px solid #d9d6d6;
}

text-area,
input {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 14px;
  /* 9 */
  font-size: 1.4rem;
  /* 9 */
  font-family: 'Lato', sans-serif;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 12px;
  /* 9 */
  font-size: 1.2rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 1.5rem;
  /* 9 */
}

input:focus, textarea:focus, select:focus {
  border: 2px solid #029341;
}

textarea {
  min-height: 250px;
}

@font-face {
  font-family: "responsivenav";
  src: url("assets/fonts/responsive/responsivenav.eot");
  src: url("assets/fonts/responsive/responsivenav.eot?#iefix") format("embedded-opentype"), url("assets/fonts/responsive/responsivenav.ttf") format("truetype"), url("assets/fonts/responsive/responsivenav.woff") format("woff"), url("assets/fonts/responsive/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}
.uppercase {
  text-transform: uppercase;
}

.font-xl {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 30px;
  /* 9 */
  font-size: 3rem;
  /* 9 */
  font-weight: 700;
}

.color-white {
  color: white;
}

.grey {
  background: #f9f9f9;
}

.blue {
  background: #e3f2fd;
}

.white {
  background: white;
}

.grey {
  background: #f9f9f9;
}

.twitter {
  background: #55acee;
}

.facebook {
  background: #3b5998;
}

.text-white {
  color: white;
}

.text-green {
  color: #029341;
}

.border {
  position: relative;
}

.border.single-border:before {
  position: absolute;
  right: 0;
  left: 0;
  height: 2px;
  content: "";
}

.green,
.green-border:before,
a.btn:hover {
  background: #029341;
  background: #029341;
  background: -webkit-linear-gradient(left, #029341 1%, #02cd5a 100%);
  background: linear-gradient(to right, #029341 1%, #02cd5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029341', endColorstr='#02cd5a',GradientType=1 );
}

.multi-color-border:before {
  background: #32ff40;
  background: -webkit-linear-gradient(left, #32ff40 0%, #fff723 20%, #ff4f23 40%, #ff23f0 60%, #aa23ff 80%, #239fff 100%);
  background: linear-gradient(to right, #32ff40 0%, #fff723 20%, #ff4f23 40%, #ff23f0 60%, #aa23ff 80%, #239fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32ff40', endColorstr='#239fff',GradientType=1 );
}

.border.top:before {
  top: 0;
}

.border.bottom:before {
  bottom: 0;
}

a.btn,
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  border-color: #029341;
  color: #029341;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 15px 30px;
  /* 9 */
  padding: 1.5rem 3rem;
  /* 9 */
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
}
a.btn:hover, a.btn:focus,
button:hover,
button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
  background-color: #029341;
  color: #fff;
}
a.btn:disabled,
button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

a.btn.blue,
button.btn.blue {
  background: #2196f3;
}
a.btn.blue:hover,
button.btn.blue:hover {
  background-color: #0c7cd5;
}

header.nav {
  position: fixed;
  width: 100%;
  color: #ffffff;
  z-index: 999;
}

header.sticky {
  background: #1F1F1F;
}

header.nav a {
  color: #ffffff;
}

.nav-collapse {
  position: absolute;
  width: 24%;
  left: 0;
}

.nav-collapse ul {
  display: block;
  width: 100%;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.nav-collapse a {
  box-sizing: border-box;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  display: block;
  padding: .6em 2em;
  width: 100%;
}

.nav-collapse li:first-child a {
  border-top: 0;
}

.nav-collapse li:last-child a {
  border-bottom: 0;
}

.nav-toggle {
  display: none;
}

header img {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 12px 0 12px 12px;
  /* 9 */
  margin: 1.2rem 0 1.2rem 1.2rem;
  /* 9 */
  max-width: 150px;
  float: left;
}

.row.white {
  background: white;
}

.row {
  display: block;
}
.row::after {
  clear: both;
  content: "";
  display: block;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.container::after {
  clear: both;
  content: "";
  display: block;
}

.container.medium {
  max-width: 800px;
  margin: auto;
}

.bleed {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 0 15px;
  /* 9 */
  padding: 0 1.5rem;
  /* 9 */
}

.promo-box section {
  background: #029341;
}

.promo-box section:hover {
  background: #001509;
}

section.module.content {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 15px 0;
  /* 9 */
  padding: 1.5rem 0;
  /* 9 */
}
section.module.content .item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 0 0 15px;
  /* 9 */
  margin: 0 0 1.5rem;
  /* 9 */
}
section.module.content p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 8 */
  margin: 0;
  /* 9 */
}

section.module.content-dynamic {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 45px 0 0 0;
  /* 9 */
  padding: 4.5rem 0 0 0;
  /* 9 */
}

.pad-s,
.pad,
.pad-l,
.pad-xl {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 15px;
  /* 9 */
  padding: 1.5rem;
  /* 9 */
}

.wrap section.border-bottom:last-child {
  border-bottom: 0;
}

.grid-items .single-grid-item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 1.5rem;
  /* 9 */
}

.items .pad {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 15px;
  /* 9 */
  padding: 1.5rem;
  /* 9 */
}

.services.grid-items .single-grid-item {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 15px 0;
  /* 9 */
  padding: 1.5rem 0;
  /* 9 */
}

.services.grid-items .row {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 1.5rem;
  /* 9 */
}

footer {
  background: #000000;
  background: #393939;
  color: white;
}
footer a {
  color: white;
}
footer h3 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 15px;
  /* 9 */
  margin-bottom: 1.5rem;
  /* 9 */
}
footer .fa {
  width: 20px;
  text-align: center;
}
footer .item .fa-mobile {
  font-size: 20px;
  top: 1px;
  position: relative;
}
footer section.module.content .item:last-child {
  margin-bottom: 0;
}
footer .soical-media li {
  display: inline-block;
}
footer .soical-media li a {
  color: #313131;
  color: #029341;
}
footer .soical-media li i {
  width: 37px;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 30px;
  /* 9 */
  font-size: 3rem;
  /* 9 */
}
footer .copyright {
  background: #313131;
}

.parallax p {
  margin: 0;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
}

section.module.parallax:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC");
  opacity: 0.6;
  background: #360033;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #360033, #0b8793);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(right, #360033, #0b8793);
  background: linear-gradient(to left, #360033, #0b8793);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000, #434343);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(right, #000000, #434343);
  background: linear-gradient(to left, #000000, #434343);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.module.parallax.main-image {
  height: 200px;
}

section.module.parallax-1 {
  background-image: url("app/assets/img/1.jpg");
}

section.module.parallax-2 {
  background-image: url("https://images.unsplash.com/3/doctype-hi-res.jpg?format=auto&amp;auto=compress&amp;dpr=1&amp;crop=entropy&amp;fit=crop&amp;w=1265&amp;h=849&amp;q=80");
  background-image: url("https://images.unsplash.com/photo-1453060113865-968cea1ad53a?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1265&h=843&q=80");
}

section.module.parallax-3 {
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1265&h=844&q=80");
}

section.module.parallax-home {
  background-image: url("https://images.unsplash.com/7/Top_view.jpg?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1194&h=746&q=80");
  background-image: url("https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?format=auto&amp;auto=compress&amp;dpr=1&amp;crop=entropy&amp;fit=crop&amp;w=1265&amp;h=840&amp;q=80");
}

section.module.parallax-service {
  background-image: url("https://images.unsplash.com/photo-1454165205744-3b78555e5572?format=auto&amp;auto=compress&amp;dpr=1&amp;crop=entropy&amp;fit=crop&amp;w=1178&amp;h=785&amp;q=80");
  background-image: url("https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1265&h=843&q=80");
}

section.module.parallax-portfolio {
  background-image: url("https://images.unsplash.com/photo-1421757381940-5d269570b21c?format=auto&amp;auto=compress&amp;dpr=1&amp;crop=entropy&amp;fit=crop&amp;w=1002&amp;h=666&amp;q=80");
}

section.module.parallax-contact {
  background-image: url("https://images.unsplash.com/photo-1457612928689-a1ab27da0dad?format=auto&amp;auto=compress&amp;dpr=1&amp;crop=entropy&amp;fit=crop&amp;w=1217&amp;h=811&amp;q=80");
}

@media only screen and (min-width: 400px) {
  section.module.parallax.main-image {
    height: 250px;
  }
}
@media only screen and (max-width: 399px) {
  .items .single-item:last-child {
    margin: 0;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 0 0 15px 0;
    /* 9 */
    padding: 0 0 1.5rem 0;
    /* 9 */
  }
}
@media only screen and (min-width: 400px) and (max-width: 767px) {
  .grid-items .col-2,
  .grid-items .col-3,
  .grid-items .col-4 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 47.8260869565%;
  }
  .grid-items .col-2:last-child,
  .grid-items .col-3:last-child,
  .grid-items .col-4:last-child {
    margin-right: 0;
  }
  .grid-items .col-2:nth-child(2n+2),
  .grid-items .col-3:nth-child(2n+2),
  .grid-items .col-4:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 600px) {
  body {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 16px;
    /* 9 */
    font-size: 1.6rem;
    /* 9 */
    line-height: 1.375;
  }

  h1 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 25px;
    /* 9 */
    font-size: 2.5rem;
    /* 9 */
    line-height: 1.125;
  }

  h2 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 20px;
    /* 9 */
    font-size: 2rem;
    /* 9 */
    line-height: 1.25;
  }

  h3 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 15px;
    /* 9 */
    font-size: 1.5rem;
    /* 9 */
    line-height: 1.25;
  }

  h4 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 11.25px;
    /* 9 */
    font-size: 1.125rem;
    /* 9 */
    line-height: 1.11111111;
  }

  .pad-s {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 7.5px;
    /* 9 */
    padding: 0.75rem;
    /* 9 */
  }

  .pad {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 15px;
    /* 9 */
    padding: 1.5rem;
    /* 9 */
  }

  .pad-l {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 30px;
    /* 9 */
    padding: 3rem;
    /* 9 */
  }

  .pad-xl,
  .pad-seperator {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 45px;
    /* 9 */
    padding: 4.5rem;
    /* 9 */
  }

  .col-9 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 73.9130434783%;
  }
  .col-9:last-child {
    margin-right: 0;
  }

  .col-7 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 56.5217391304%;
  }
  .col-7:last-child {
    margin-right: 0;
  }

  .col-5 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 39.1304347826%;
  }
  .col-5:last-child {
    margin-right: 0;
  }

  .col-4 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 21.7391304348%;
  }
  .col-4:last-child {
    margin-right: 0;
  }

  .col-3 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 30.4347826087%;
  }
  .col-3:last-child {
    margin-right: 0;
  }

  section.module.content {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 45px 0;
    /* 9 */
    padding: 4.5rem 0;
    /* 9 */
  }
  section.module.content .item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 0 0 30px;
    /* 9 */
    margin: 0 0 3rem;
    /* 9 */
  }

  section.module.content-dynamic .grid-items .col-4:last-child {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-right: 15px;
    /* 9 */
    margin-right: 1.5rem;
    /* 9 */
  }

  section.module.parallax.main-image {
    height: 350px;
  }

  .grid-items .single-grid-item {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 30px;
    /* 9 */
    margin-bottom: 3rem;
    /* 9 */
  }
}
@media only screen and (max-width: 767px) {
  header.nav,
  header.sticky {
    background: #1F1F1F;
  }

  section.module.parallax.main-image {
    background-attachment: inherit;
  }

  .nav-collapse ul {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 0 15px;
    /* 9 */
    padding: 0 1.5rem;
    /* 9 */
    max-width: 600px;
    margin: auto;
  }

  .nav-collapse a {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 12px;
    /* 9 */
    padding: 1.2rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 12px;
    /* 9 */
    font-size: 1.2rem;
    /* 9 */
    position: relative;
    border-bottom: 1px solid #626262;
  }

  .nav-collapse {
    text-align: center;
  }

  .services .col-4 {
    width: 100%;
    margin: 0;
  }

  .fa-5x {
    font-size: 3.5em !important;
  }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }

  .nav-collapse {
    top: 0;
    width: 100%;
    position: relative;
  }

  .nav-collapse.opened {
    max-height: 9999px;
  }

  .nav-collapse a:hover {
    color: white;
  }

  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 55px;
    float: right;
    display: block;
  }

  .nav-toggle:before {
    color: #ffffff;
    font-family: "responsivenav";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 20px;
    text-transform: none;
    position: absolute;
    content: "\2261";
    text-indent: 0;
    text-align: center;
    line-height: 57px;
    speak: none;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav-toggle.active:before {
    font-size: 24px;
    content: "\78";
    line-height: 57px;
  }
}
@media only screen and (min-width: 768px) {
  .circle {
    height: 130px;
    width: 130px;
  }

  header img {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin: 17px 0 17px 15px;
    /* 9 */
    margin: 1.7rem 0 1.7rem 1.5rem;
    /* 9 */
    max-width: 200px;
  }

  section.module.parallax {
    height: 400px;
  }

  blockquote {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 15px;
    /* 9 */
    font-size: 1.5rem;
    /* 9 */
    line-height: 1.45833333;
  }

  .nav-collapse a {
    margin: 0;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 5 */
    padding: 32.5px 0;
    /* 9 */
    padding: 3.25rem 0;
    /* 9 */
    float: left;
    text-align: center;
  }

  .nav-collapse a:hover {
    position: relative;
  }

  .nav-collapse ul ul a {
    display: none;
  }

  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }

  .nav-collapse li {
    width: 25%;
    *width: 24.9%;
    /* IE7 Hack */
    _width: 19%;
    /* IE6 Hack */
    float: left;
  }

  .nav-collapse {
    float: right;
    width: 60%;
  }

  .grid-items .col-9 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 73.9130434783%;
  }
  .grid-items .col-9:last-child {
    margin-right: 0;
  }
  .grid-items .col-8 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 65.2173913043%;
  }
  .grid-items .col-8:last-child {
    margin-right: 0;
  }
  .grid-items .col-6 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 47.8260869565%;
  }
  .grid-items .col-6:last-child {
    margin-right: 0;
  }
  .grid-items .col-4 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 30.4347826087%;
  }
  .grid-items .col-4:last-child {
    margin-right: 0;
  }
  .grid-items .col-4:nth-child(4n+4) {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-right: 0;
    /* 9 */
  }
  .grid-items .col-3 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 21.7391304348%;
  }
  .grid-items .col-3:last-child {
    margin-right: 0;
  }
  .grid-items .col-3:nth-child(3n+4) {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-right: 0;
    /* 9 */
  }

  section.module.content .grid-items .col-4:nth-last-child(-n+3) {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-bottom: 0;
    /* 9 */
  }

  section.module.parallax.main-image {
    height: 400px;
  }

  section.module.parallax {
    background-attachment: fixed;
    background-size: cover;
  }

  .services .col-8,
  .services .col-4 {
    margin-bottom: 0;
  }

  .services .col-8 .bleed {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    padding: 0;
    /* 9 */
  }

  .services .col-4 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 5 */
    /* 8 */
    margin-right: 0;
    /* 9 */
  }

  .services .col-8,
  .services .col-4 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .services.grid-items .row {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 30px;
    /* 9 */
    margin-bottom: 3rem;
    /* 9 */
    height: 250px;
  }

  .services .col-8.single-margin {
    margin: 0 0 0 4.347826087%;
  }

  .services .col-4.icon-right {
    float: right;
  }
}
@media only screen and (min-width: 1000px) {
  h1 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 30px;
    /* 9 */
    font-size: 3rem;
    /* 9 */
    line-height: 1.05;
  }

  h2 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 22.5px;
    /* 9 */
    font-size: 2.25rem;
    /* 9 */
    line-height: 1.25;
  }

  h3 {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 17.5px;
    /* 9 */
    font-size: 1.75rem;
    /* 9 */
    line-height: 1.25;
  }

  h4 {
    line-height: 1.22222222;
  }
}
